@font-face {
  font-family: 'Inter';
  src: url('../src/fonts/Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Uni-sans';
  src: url('../src/fonts/Uni-Sans/Uni-Sans-Heavy-Italic.otf') format('truetype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  background-color: #282936;
    


  &::-webkit-scrollbar {
    width: 0; 
  }
}




